<div class="overflow-x-hidden">
  <header>
    <nav class="navbar navbar-expand-md bg-primary shadow position-fixed w-100">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold ms-1" href="#">AdoptMyPet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <button class="btn btn-secondary rounded-5 mx-1" type="submit">Login</button>
            <button class="btn btn-outline-secondary rounded-5 mx-1" type="submit">Register</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div class="py-3 py-md-4 py-lg-5"></div>

  <div class="row d-flex align-items-center py-5">
    <div class="col-12 col-lg-6 text-center">
      <img class="img-fluid p-3" src="assets/front-img.png" alt="">
    </div>
    <div class="col-12 col-lg-6 p-4">
      <div class="text-center py-2">
        <span class="fs-2 fw-bolder">Lorem ipsum dolor sit amet</span>
      </div>
      <div class="py-2 px-3 px-md-5">
        <span>
          Lorem ipsum dolor sit amet. Qui consequatur facere est consequuntur molestias ut explicabo
          consectetur et dolore error et voluptatem sint est nulla obcaecati est nemo possimus
        </span>
      </div>
      <div class="text-center">
        <button class="btn btn-secondary btn-lg mt-3">Start</button>
      </div>
    </div>
  </div>
</div>
