<div>
  <header>
    <nav class="navbar navbar-expand-md bg-primary shadow">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold ms-1" href="#">AdoptMyPet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <button class="btn btn-secondary rounded-5 mx-1" type="submit">Login</button>
            <button class="btn btn-outline-secondary rounded-5 mx-1" type="submit">Register</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
</div>
