$primary: #94C4F3;
$secondary:#020887;
$danger: #FF0035;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "danger":     $danger,
);
@import "../node_modules/bootstrap/scss/bootstrap";
